/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/
.opencode/
/dist
.codegraph/
.codebuddy/

dist-js
dist
opencode.json
CODEBUDDY.md
AGENTS.md

examples/vue-plugin-hiprint-main/.gitignore
examples/vue-plugin-hiprint-main/apiDoc.md
examples/vue-plugin-hiprint-main/babel.config.js
examples/vue-plugin-hiprint-main/CHANGELOG.md
examples/vue-plugin-hiprint-main/LICENSE
examples/vue-plugin-hiprint-main/package.json
examples/vue-plugin-hiprint-main/README.md
examples/vue-plugin-hiprint-main/vue.config.js
examples/vue-plugin-hiprint-main/webpack.config.js
examples/vue-plugin-hiprint-main/.github/ISSUE_TEMPLATE/bug.yml
examples/vue-plugin-hiprint-main/.github/ISSUE_TEMPLATE/config.yml
examples/vue-plugin-hiprint-main/.github/ISSUE_TEMPLATE/feature.yml
examples/vue-plugin-hiprint-main/.github/workflows/deploy-demo-beta.yml
examples/vue-plugin-hiprint-main/.github/workflows/deploy-demo.yml
examples/vue-plugin-hiprint-main/public/favicon.ico
examples/vue-plugin-hiprint-main/public/index.html
examples/vue-plugin-hiprint-main/public/css/bootstrap.min.css
examples/vue-plugin-hiprint-main/public/css/print-lock.css
examples/vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.eot
examples/vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.svg
examples/vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.ttf
examples/vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.woff
examples/vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.woff2
examples/vue-plugin-hiprint-main/public/static/template1.png
examples/vue-plugin-hiprint-main/public/static/template2.png
examples/vue-plugin-hiprint-main/public/static/template3.png
examples/vue-plugin-hiprint-main/public/static/template4.png
examples/vue-plugin-hiprint-main/public/static/template5.png
examples/vue-plugin-hiprint-main/public/static/template6.png
examples/vue-plugin-hiprint-main/public/static/template7.png
examples/vue-plugin-hiprint-main/public/static/template8.png
examples/vue-plugin-hiprint-main/res/gif00.gif
examples/vue-plugin-hiprint-main/res/gif01.gif
examples/vue-plugin-hiprint-main/res/group.png
examples/vue-plugin-hiprint-main/res/img_0.png
examples/vue-plugin-hiprint-main/res/img_1.png
examples/vue-plugin-hiprint-main/res/img_2.png
examples/vue-plugin-hiprint-main/res/img_3.png
examples/vue-plugin-hiprint-main/res/img.png
examples/vue-plugin-hiprint-main/res/selectElementsByField.png
examples/vue-plugin-hiprint-main/res/tool.jpeg
examples/vue-plugin-hiprint-main/res/URLScheme.png
examples/vue-plugin-hiprint-main/res/WebStorm_icon.svg
examples/vue-plugin-hiprint-main/res/WebStorm.svg
examples/vue-plugin-hiprint-main/res/wechat.png
examples/vue-plugin-hiprint-main/res/wmp.jpg
examples/vue-plugin-hiprint-main/res/ww.png
examples/vue-plugin-hiprint-main/res/zAlipay.png
examples/vue-plugin-hiprint-main/res/zWechat.png
examples/vue-plugin-hiprint-main/scripts/change-version.js
examples/vue-plugin-hiprint-main/src/App.vue
examples/vue-plugin-hiprint-main/src/index.js
examples/vue-plugin-hiprint-main/src/main.js
examples/vue-plugin-hiprint-main/src/assets/hi.png
examples/vue-plugin-hiprint-main/src/assets/logo.png
examples/vue-plugin-hiprint-main/src/demo/json-view.vue
examples/vue-plugin-hiprint-main/src/demo/custom/index.vue
examples/vue-plugin-hiprint-main/src/demo/custom/preview.vue
examples/vue-plugin-hiprint-main/src/demo/custom/print-data.js
examples/vue-plugin-hiprint-main/src/demo/custom/providers.js
examples/vue-plugin-hiprint-main/src/demo/design/font-size.js
examples/vue-plugin-hiprint-main/src/demo/design/index.vue
examples/vue-plugin-hiprint-main/src/demo/design/panel-infusion.js
examples/vue-plugin-hiprint-main/src/demo/design/panel-prescription.js
examples/vue-plugin-hiprint-main/src/demo/design/panel.js
examples/vue-plugin-hiprint-main/src/demo/design/preview.vue
examples/vue-plugin-hiprint-main/src/demo/design/print-data-infusion.js
examples/vue-plugin-hiprint-main/src/demo/design/print-data-prescription.js
examples/vue-plugin-hiprint-main/src/demo/design/print-data.js
examples/vue-plugin-hiprint-main/src/demo/design/scale.js
examples/vue-plugin-hiprint-main/src/demo/panels/index.vue
examples/vue-plugin-hiprint-main/src/demo/panels/preview.vue
examples/vue-plugin-hiprint-main/src/demo/panels/print-data.js
examples/vue-plugin-hiprint-main/src/demo/panels/providers.js
examples/vue-plugin-hiprint-main/src/demo/tasks/index.vue
examples/vue-plugin-hiprint-main/src/demo/tasks/panel.js
examples/vue-plugin-hiprint-main/src/demo/tasks/preview.vue
examples/vue-plugin-hiprint-main/src/demo/tasks/print-data.js
examples/vue-plugin-hiprint-main/src/demo/tasks/providers.js
examples/vue-plugin-hiprint-main/src/demo/templates/files.js
examples/vue-plugin-hiprint-main/src/demo/templates/index.vue
examples/vue-plugin-hiprint-main/src/demo/templates/preview.vue
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template1.js
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template2.js
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template3.js
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template4.js
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template5.js
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template6.js
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template7.js
examples/vue-plugin-hiprint-main/src/demo/templates/template-files/template8.js
examples/vue-plugin-hiprint-main/src/hiprint/hiprint.bundle.js
examples/vue-plugin-hiprint-main/src/hiprint/hiprint.config.js
examples/vue-plugin-hiprint-main/src/hiprint/css/hiprint.css
examples/vue-plugin-hiprint-main/src/hiprint/css/print-lock.css
examples/vue-plugin-hiprint-main/src/hiprint/css/image/jquery.minicolors.png
examples/vue-plugin-hiprint-main/src/hiprint/css/image/l_img.svg
examples/vue-plugin-hiprint-main/src/hiprint/css/image/v_img.svg
examples/vue-plugin-hiprint-main/src/hiprint/etypes/default-etyps-provider.js
examples/vue-plugin-hiprint-main/src/hiprint/plugins/jquery.hiwprint.js
examples/vue-plugin-hiprint-main/src/hiprint/plugins/qrcode.js
examples/vue-plugin-hiprint-main/src/hiprint/plugins/watermark.js
examples/vue-plugin-hiprint-main/src/i18n/cn_tw.json
examples/vue-plugin-hiprint-main/src/i18n/cn.json
examples/vue-plugin-hiprint-main/src/i18n/de.json
examples/vue-plugin-hiprint-main/src/i18n/en.json
examples/vue-plugin-hiprint-main/src/i18n/es.json
examples/vue-plugin-hiprint-main/src/i18n/fr.json
examples/vue-plugin-hiprint-main/src/i18n/it.json
examples/vue-plugin-hiprint-main/src/i18n/ja.json
examples/vue-plugin-hiprint-main/src/i18n/ru.json
examples/vue-plugin-hiprint-main/src/utils/index.js

# Exclude large binary from git and crates.io
tauri-plugin-printer-v2-0.4.1.tgz
code.md
vue-plugin-hiprint-main/.gitignore
vue-plugin-hiprint-main/apiDoc.md
vue-plugin-hiprint-main/babel.config.js
vue-plugin-hiprint-main/CHANGELOG.md
vue-plugin-hiprint-main/LICENSE
vue-plugin-hiprint-main/package.json
vue-plugin-hiprint-main/README.md
vue-plugin-hiprint-main/vue.config.js
vue-plugin-hiprint-main/webpack.config.js
vue-plugin-hiprint-main/.github/ISSUE_TEMPLATE/bug.yml
vue-plugin-hiprint-main/.github/ISSUE_TEMPLATE/config.yml
vue-plugin-hiprint-main/.github/ISSUE_TEMPLATE/feature.yml
vue-plugin-hiprint-main/.github/workflows/deploy-demo-beta.yml
vue-plugin-hiprint-main/.github/workflows/deploy-demo.yml
vue-plugin-hiprint-main/public/favicon.ico
vue-plugin-hiprint-main/public/index.html
vue-plugin-hiprint-main/public/css/bootstrap.min.css
vue-plugin-hiprint-main/public/css/print-lock.css
vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.eot
vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.svg
vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.ttf
vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.woff
vue-plugin-hiprint-main/public/fonts/glyphicons-halflings-regular.woff2
vue-plugin-hiprint-main/public/static/template1.png
vue-plugin-hiprint-main/public/static/template2.png
vue-plugin-hiprint-main/public/static/template3.png
vue-plugin-hiprint-main/public/static/template4.png
vue-plugin-hiprint-main/public/static/template5.png
vue-plugin-hiprint-main/public/static/template6.png
vue-plugin-hiprint-main/public/static/template7.png
vue-plugin-hiprint-main/public/static/template8.png
vue-plugin-hiprint-main/res/gif00.gif
vue-plugin-hiprint-main/res/gif01.gif
vue-plugin-hiprint-main/res/group.png
vue-plugin-hiprint-main/res/img_0.png
vue-plugin-hiprint-main/res/img_1.png
vue-plugin-hiprint-main/res/img_2.png
vue-plugin-hiprint-main/res/img_3.png
vue-plugin-hiprint-main/res/img.png
vue-plugin-hiprint-main/res/selectElementsByField.png
vue-plugin-hiprint-main/res/tool.jpeg
vue-plugin-hiprint-main/res/URLScheme.png
vue-plugin-hiprint-main/res/WebStorm_icon.svg
vue-plugin-hiprint-main/res/WebStorm.svg
vue-plugin-hiprint-main/res/wechat.png
vue-plugin-hiprint-main/res/wmp.jpg
vue-plugin-hiprint-main/res/ww.png
vue-plugin-hiprint-main/res/zAlipay.png
vue-plugin-hiprint-main/res/zWechat.png
vue-plugin-hiprint-main/scripts/change-version.js
vue-plugin-hiprint-main/src/App.vue
vue-plugin-hiprint-main/src/index.js
vue-plugin-hiprint-main/src/main.js
vue-plugin-hiprint-main/src/assets/hi.png
vue-plugin-hiprint-main/src/assets/logo.png
vue-plugin-hiprint-main/src/demo/json-view.vue
vue-plugin-hiprint-main/src/demo/custom/index.vue
vue-plugin-hiprint-main/src/demo/custom/preview.vue
vue-plugin-hiprint-main/src/demo/custom/print-data.js
vue-plugin-hiprint-main/src/demo/custom/providers.js
vue-plugin-hiprint-main/src/demo/design/font-size.js
vue-plugin-hiprint-main/src/demo/design/index.vue
vue-plugin-hiprint-main/src/demo/design/panel.js
vue-plugin-hiprint-main/src/demo/design/preview.vue
vue-plugin-hiprint-main/src/demo/design/print-data.js
vue-plugin-hiprint-main/src/demo/design/scale.js
vue-plugin-hiprint-main/src/demo/panels/index.vue
vue-plugin-hiprint-main/src/demo/panels/preview.vue
vue-plugin-hiprint-main/src/demo/panels/print-data.js
vue-plugin-hiprint-main/src/demo/panels/providers.js
vue-plugin-hiprint-main/src/demo/tasks/index.vue
vue-plugin-hiprint-main/src/demo/tasks/panel.js
vue-plugin-hiprint-main/src/demo/tasks/preview.vue
vue-plugin-hiprint-main/src/demo/tasks/print-data.js
vue-plugin-hiprint-main/src/demo/tasks/providers.js
vue-plugin-hiprint-main/src/demo/templates/files.js
vue-plugin-hiprint-main/src/demo/templates/index.vue
vue-plugin-hiprint-main/src/demo/templates/preview.vue
vue-plugin-hiprint-main/src/demo/templates/template-files/template1.js
vue-plugin-hiprint-main/src/demo/templates/template-files/template2.js
vue-plugin-hiprint-main/src/demo/templates/template-files/template3.js
vue-plugin-hiprint-main/src/demo/templates/template-files/template4.js
vue-plugin-hiprint-main/src/demo/templates/template-files/template5.js
vue-plugin-hiprint-main/src/demo/templates/template-files/template6.js
vue-plugin-hiprint-main/src/demo/templates/template-files/template7.js
vue-plugin-hiprint-main/src/demo/templates/template-files/template8.js
vue-plugin-hiprint-main/src/hiprint/hiprint.bundle.js
vue-plugin-hiprint-main/src/hiprint/hiprint.config.js
vue-plugin-hiprint-main/src/hiprint/css/hiprint.css
vue-plugin-hiprint-main/src/hiprint/css/print-lock.css
vue-plugin-hiprint-main/src/hiprint/css/image/jquery.minicolors.png
vue-plugin-hiprint-main/src/hiprint/css/image/l_img.svg
vue-plugin-hiprint-main/src/hiprint/css/image/v_img.svg
vue-plugin-hiprint-main/src/hiprint/etypes/default-etyps-provider.js
vue-plugin-hiprint-main/src/hiprint/plugins/jquery.hiwprint.js
vue-plugin-hiprint-main/src/hiprint/plugins/qrcode.js
vue-plugin-hiprint-main/src/hiprint/plugins/watermark.js
vue-plugin-hiprint-main/src/i18n/cn_tw.json
vue-plugin-hiprint-main/src/i18n/cn.json
vue-plugin-hiprint-main/src/i18n/de.json
vue-plugin-hiprint-main/src/i18n/en.json
vue-plugin-hiprint-main/src/i18n/es.json
vue-plugin-hiprint-main/src/i18n/fr.json
vue-plugin-hiprint-main/src/i18n/it.json
vue-plugin-hiprint-main/src/i18n/ja.json
vue-plugin-hiprint-main/src/i18n/ru.json
vue-plugin-hiprint-main/src/utils/index.js
print-engine.html
tauri-plugin-printer-v2-0.6.0.tgz
