/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/
/example
.opencode/
/dist
.codegraph/
.codebuddy/

dist-js
dist
opencode.json
CODEBUDDY.md
AGENTS.md
